@use '../custom' as *;

.app{
    h3{
        font-size: 2rem;
    }
}
.card-head{
    background-color: $gray-400;
    p{
        span{
            font-weight: bold;
            font-size: 3rem;
        }
    }
    .calss{
        color:black;
        font-family: 'Poppins', sans-serif;
    }
}
#btn{
    margin-right:2rem;
    margin-left:2rem;
    margin-bottom: 1rem;
}
.star{
    span{
        i{
            color: $pela;
        }
    }
}
.services{
    &--content{
        padding: 1rem;
    }
}