@use '../custom' as *;
@use '../components/mixins' as *;

.btn-rounded{
      @include media-breakpoint-down(sm){
      display:none;
      } 
        background-color: $purple-light;
        color: #fff;
        position: relative;
        padding: 0.9375rem 1.375rem 0.9375rem 1.2rem;
        font-weight: 700;
        border: 0.1rem solid rgba(255, 255, 255, 0.6);
    

      &:hover{
        @include gradient;
        color:$white;
      }
      }
      .btn2{
        padding: 0.9375rem;
        font-weight:700;
        padding: 1rem;
        border:none;
        background: $white;
        color: $purple-dark;
      }